{#<html>#}
    {#<head>#}

    {#</head>#}
    {#<body>#}
        {#{% for message in app.session.getFlashBag.get('message') %}#}
            {#<strong> {{ message }} </strong>#}
        {#{% endfor %}#}
        {#<form action="{{app.url_generator.generate('skpd') }}" method="post" enctype="multipart/form-data">#}
            {#{{ form_widget(form) }}#}
        {#</form>#}
    {#</body>#}
{#</html>#}
{% extends 'layouts/head.twig' %}

{% block content %}
    <br>
    <h1 class="lh30 mt15 text-center">PAKET BARU</h1>
    <p class="lead mb30 text-center">Pembuatan Usulan Paket Pengadaan</p>
    <hr>
<div class="row">
    <div class="col-md-9 center-block">

                {% for message in app.session.getFlashBag.get('message') %}
                    <strong> <div class="alert alert-danger alert-dismissable" >
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            Whoops Something went wrong
                        </div>
                    </strong>
                {% endfor %}

            <div class="admin-form theme-primary">
                <div class="panel">
                    <form action="{{app.url_generator.generate('skpd') }}" method="post" enctype="multipart/form-data">
                        <div class="panel-body">
                            <div class="section-divider mb40 mt20"><span> Lengkapi Data </span></div>

                            {#<div id="skpd_form">#}
                                {#<div>{{ form_widget(form.namaPaket) }}</div>#}
                                {#<div>{{ form_widget(form.sumberDana) }}</div>#}
                                {#<div>{{ form_widget(form.tahunAnggaran) }}</div>#}
                                {#<div>{{ form_widget(form.paguAnggraran) }}</div>#}
                                {#<div>{{ form_widget(form.kodeRekening) }}</div>#}
                                {#<div>{{ form_widget(form.kodeRup) }}</div>#}
                                {#<div>{{ form_widget(form.jenisPembayaran) }}</div>#}
                                {#<div>{{ form_widget(form.dokumenSuratPermintaanLelang) }}</div>#}
                                {#<div>{{ form_widget(form.dokumenHasilPerkiraanSendiri) }}</div>#}
                                {#<div>{{ form_widget(form.dokumenCetakRup) }}</div>#}
                                {#<div>{{ form_widget(form.dokumenKerangkaAcuanKerja) }}</div>#}
                                {#<div>{{ form_widget(form.dokumenDaftarKuantitas) }}</div>#}
                                {#<div>{{ form_widget(form.dokumenSpesifikasiTeknis) }}</div>#}
                                {#<div>{{ form_widget(form.dokumenGambar) }}</div>#}
                                {#<div>{{ form_widget(form.dokumenRancanganKontrak) }}</div>#}
                                {#<div>{{ form_widget(form.dokumenSyaratSyaratUmumKontrak) }}</div>#}
                                {#<div>{{ form_widget(form.dokumenSyaratSyaratKhususKontrak) }}</div>#}
                                {#<div>{{ form_widget(form.dokumenPendukungLain) }}</div>#}
                            {#</div>#}

                            {{ form_widget(form) }}


                        </div>
                        {#<div class="panel-footer text-right">#}
                            {#{{ form_widget(form.kirim,{'attr':{'class' : 'mr10 pull-right'}}) }}#}
                        {#</div>#}
                    </form>
                </div>
            </div>
    </div>
</div>
{% endblock %}

{#{% include "layouts/head.twig" %}#}
{#{% include "layouts/foot.twig" %}#}